@tailwind base;
@tailwind components;
@tailwind utilities;

.ag-theme-alpine {
  --ag-header-background-color: #e0f2fe;
  /* light blue */
  --ag-header-foreground-color: #1e293b;
  --ag-header-height: 50px;
  --ag-row-height: 55px;
  --ag-font-size: 14px;
  --ag-border-color: #e5e7eb;
}

.ag-theme-alpine .ag-row:hover {
  cursor: pointer;
  background-color: #f1f5f9;
}